<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acertador</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='chem.png')}}"/>
  <script src="{{url_for('static', filename='scripts.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
 
   
    <script src="https://kit.fontawesome.com/0ec7756a65.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  
    <div class="main">
      <center>
        
        <h1>Acertador de equações químicas</h1>
        <h2>Insira a equação</h2>
        <form action="/" method = "POST">
          <label>Reagentes: <input type = "text" name = "reactants" /></label><br />
          <label>Produtos: <input type = "text" name = "products" /></label><br />
          <input id="submitButton" type="submit" value="Submeter"/>
        </form>
        {% if error %}
          <h3 style="color: red">{{error}}</h3>
        {% elif form_data %}
          <p>Resultados: </p>
          <span id="results">{{ output }}</span>
        {% endif %}

      </center>
    </div>
    <div style="text-align:center; border-radius: 10px;
      position: fixed;
      bottom: 15px;
      width:99%;" 
       class="social"
      >
    
      <div style="text-align:center;" >
        <a href="https://twitter.com/L33tRoccat" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://www.instagram.com/lucas_delinhares/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://discord.gg/Eheq3KkSYj" target="_blank"><i class="fab fa-discord fa-2x"></i></a>
        <a href="https://github.com/lucascompython" target="_blank"><i class="fab fa-github fa-2x"></i></a>
      </div>
    <footer><a href="https://github.com/lucascompython">Site feito por Lucas de Linhares😎</a>
    </footer>
    </div>

</body>
</html>
